name: CI/CD with Kaniko

on:
  push:
    branches: ["main", "master", "develop"]
  workflow_dispatch:

env:
  KANIKO_CACHE_ARGS: "--cache=true --cache-copy-layers=true --cache-ttl=24h"

jobs:
  build-backend:
    runs-on: ubuntu-latest
    outputs:
      SHORT_SHA: ${{ steps.set-tag.outputs.TAG_LIST }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "temurin"

      - name: Build with Maven
        run: mvn clean install -DskipTests

      - name: Set short SHA tag
        id: set-tag
        run: echo "::set-output name=TAG_LIST::${GITHUB_SHA::7}"

  build-to-camden:
    runs-on: ubuntu-latest
    container:
      image: gcr.io/kaniko-project/executor:v1.24.0
    needs: build-backend
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build and Push Docker Image with Kaniko
        run: |
          mkdir -p $HOME/.docker
          echo "{\"auths\":{\"${{ secrets.CAMDEN_REGISTRY }}\":{\"username\":\"${CAMDEN_USER}\",\"password\":\"${CAMDEN_PASS}\"}}}" > $HOME/.docker/config.json

          /kaniko/executor \
            --dockerfile=Dockerfile \
            --context=. \
            --destination=${{ secrets.CAMDEN_REGISTRY }}/web:${{ needs.build-backend.outputs.SHORT_SHA }} \
            ${{ env.KANIKO_CACHE_ARGS }} \
            --push-retry 5
        env:
          CAMDEN_USER: ${{ secrets.CAMDEN_USERNAME }}
          CAMDEN_PASS: ${{ secrets.CAMDEN_PASSWORD }}

  deploy-to-argocd:
    runs-on: ubuntu-latest
    needs: build-to-camden
    steps:
      - name: Install ArgoCD CLI
        run: |
          curl -sSL -o argocd https://github.com/argoproj/argo-cd/releases/latest/download/argocd-linux-amd64
          chmod +x argocd
          sudo mv argocd /usr/local/bin/

      - name: Deploy via ArgoCD
        env:
          ARGOCD_AUTH_TOKEN: ${{ secrets.ARGO_TOKEN }}
          ARGO_APP: gbi
          IMAGE_TAG: ${{ needs.build-backend.outputs.SHORT_SHA }}
        run: |
          argocd --server argocd.anaeleboo.com --insecure --grpc-web login argocd.anaeleboo.com --token $ARGOCD_AUTH_TOKEN
          argocd app set "$ARGO_APP" -p web.image.tag="$IMAGE_TAG"
          argocd app sync "$ARGO_APP"
