name: CI/CD with Kaniko

on:
  push:
    branches: ["main", "master", "develop"]
  workflow_dispatch:

env:
  KANIKO_CACHE_ARGS: "--cache=true --cache-copy-layers=true --cache-ttl=24h"

jobs:
  build-backend:
    runs-on: ubuntu-latest
    outputs:
      SHORT_SHA: ${{ steps.set-tag.outputs.TAG_LIST }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "temurin"

      - name: Build with Maven
        run: mvn clean install -DskipTests

      - name: Set short SHA tag
        id: set-tag
        run: echo "TAG_LIST=${GITHUB_SHA::7}" >> $GITHUB_ENV

  build-to-camden:
    runs-on: ubuntu-latest
    needs: build-backend
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Prepare Kaniko Docker Config
        run: |
          mkdir -p $HOME/.docker
          echo "{\"auths\":{\"${CAMDEN_REGISTRY}\":{\"username\":\"${CAMDEN_REGISTRY_USER}\",\"password\":\"${CAMDEN_REGISTRY_PASS}\"}}}" > $HOME/.docker/config.json
        env:
          CAMDEN_REGISTRY: ${{ secrets.CAMDEN_REGISTRY }}
          CAMDEN_REGISTRY_USER: ${{ secrets.CAMDEN_REGISTRY_USER }}
          CAMDEN_REGISTRY_PASS: ${{ secrets.CAMDEN_REGISTRY_PASSWORD }}

      - name: Build and Push Docker Image with Kaniko
        run: |
          docker run --rm \
            -v $PWD:/workspace \
            -v $HOME/.docker:/kaniko/.docker \
            gcr.io/kaniko-project/executor:v1.24.0 \
            --dockerfile=/workspace/Dockerfile \
            --context=/workspace \
            --destination=${CAMDEN_REGISTRY}/web:${{ needs.build-backend.outputs.SHORT_SHA }} \
            ${{ env.KANIKO_CACHE_ARGS }} \
            --push-retry 5
        env:
          CAMDEN_REGISTRY: ${{ secrets.CAMDEN_REGISTRY }}
          CAMDEN_REGISTRY_USER: ${{ secrets.CAMDEN_REGISTRY_USER }}
          CAMDEN_REGISTRY_PASS: ${{ secrets.CAMDEN_REGISTRY_PASSWORD }}

  deploy-to-argocd:
    runs-on: ubuntu-latest
    needs: build-to-camden
    steps:
      - name: Install ArgoCD CLI
        run: |
          curl -sSL -o argocd https://github.com/argoproj/argo-cd/releases/latest/download/argocd-linux-amd64
          chmod +x argocd
          sudo mv argocd /usr/local/bin/

      - name: Deploy via ArgoCD
        env:
          ARGOCD_AUTH_TOKEN: ${{ secrets.ARGO_TOKEN }}
          ARGO_APP: gbi
          IMAGE_TAG: ${{ needs.build-backend.outputs.SHORT_SHA }}
        run: |
          argocd --server argocd.anaeleboo.com --insecure --grpc-web login argocd.anaeleboo.com --token $ARGOCD_AUTH_TOKEN
          argocd app set "$ARGO_APP" -p web.image.tag="$IMAGE_TAG"
          argocd app sync "$ARGO_APP"
