name: CI/CD with Kaniko

on:
  push:
    branches: ["main", "master", "develop"]
    # paths:
    #   - "backend/**"
    #   - ".github/workflows/build-with-kaniko.yml"
  workflow_dispatch:

env:
  KANIKO_CACHE_ARGS: "--cache=true --cache-copy-layers=true --cache-ttl=24h"

jobs:
  build-backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: "17"
          distribution: "temurin"

      - name: Build with Maven
        run: mvn clean install -DskipTests

      - name: Set short SHA tag
        run: echo "TAG_LIST=${GITHUB_SHA::7}" >> $GITHUB_ENV

  build-to-camden:
    runs-on: ubuntu-latest
    needs: build-backend
    container:
      image: gcr.io/kaniko-project/executor:v1.24.0
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Prepare Docker auth for Camden
        run: |
          mkdir -p /kaniko/.docker
          cat <<EOF > /kaniko/.docker/config.json
          {
            "auths": {
              "https://index.docker.io/v1/": {
                "auth": "$(echo -n "${{ secrets.CAMDEN_USERNAME }}:${{ secrets.CAMDEN_PASSWORD }}" | base64 -w0)"
              }
            }
          }
          EOF

      - name: Build & Push Docker Image with Kaniko
        run: |
          /kaniko/executor \
            --dockerfile="./backend/Dockerfile" \
            --context="${GITHUB_WORKSPACE}" \
            --destination="docker.io/${{ secrets.CAMDEN_USERNAME }}/web:${TAG_LIST}" \
            ${{ env.KANIKO_CACHE_ARGS }} \
            --push-retry 5

  deploy-to-argocd:
    runs-on: ubuntu-latest
    needs: build-to-camden
    steps:
      - name: Install ArgoCD CLI
        run: |
          curl -sSL -o argocd https://github.com/argoproj/argo-cd/releases/latest/download/argocd-linux-amd64
          chmod +x argocd
          sudo mv argocd /usr/local/bin/

      - name: Deploy via ArgoCD
        env:
          ARGOCD_AUTH_TOKEN: ${{ secrets.ARGO_TOKEN }}
          ARGO_APP: gbi
        run: |
          argocd --server argocd.anaeleboo.com --insecure --grpc-web \
            login argocd.anaeleboo.com --token $ARGOCD_AUTH_TOKEN
          argocd app set "$ARGO_APP" -p web.image.tag="${TAG_LIST}"
          argocd app sync "$ARGO_APP"
